{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
{deps, [{pqueue, "1.7.3"}, recon, {lager, "3.6.1"}]}.

{relx, [{release, { sp, "0.2" },
         [sp,
          recon,
          runtime_tools]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false}]}]
            }]
}.
