{erl_opts, [debug_info]}.
{deps, [{pqueue, "1.7.3"}, recon]}.

{relx, [{release, { sp, "0.1.0" },
         [sp,
          sasl,
          pqueue,
          recon,
          runtime_tools]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true},
                            {include_src, false}]}]
            }]
}.
